apiVersion: apps/v1
kind: Deployment
metadata:
  name: bot
  namespace: telegram-bot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bot
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: bot
    spec:
      containers:
      - name: bot
       #image: #telegram-bot:latest  # Update with your actual image
        image: telegram-bot:20251104-091124
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: postgres-config
        - secretRef:
            name: postgres-secret
        - secretRef:
            name: envs
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: "500m"
            memory: 1Gi
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: data
          mountPath: /app/data
        - name: workspace
          mountPath: /tmp/bot_workspace
      volumes:
      - name: data
        hostPath:
          path: /app/data
      - name: workspace
        persistentVolumeClaim:
          claimName: bot-workspace